<!-- hero top  -->

    <div class="d-flex justify-content-center py-3">
        <div class="card w-75">
            <img src="https://placehold.co/600x400/EEE/31343C" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event Planner</h5>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi debitis id animi eius
                    optio in et laborum quia, necessitatibus praesentium dignissimos tenetur totam error similique sunt
                    consectetur, voluptas corrupti iusto..</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>

            <!-- hero top  -->
            
            <!-- hero middle (slideshow) -->

            <div id="carouselExampleDark" class="carousel carousel-dark slide w-12">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="https://placehold.co/600x400/EEE/31343C" class="d-block w-100" alt="image">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://placehold.co/600x400/EEE/31343C" class="d-block w-100" alt="image">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://placehold.co/600x400/EEE/31343C" class="d-block w-100" alt="image">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- hero middle (slideshow) -->

            <!-- hero bottom (reviews) -->

            <div class="container-fluid ">
                <div class="d-flex position-relative">
                    <img src="https://placehold.co/600x400/EEE/31343C" class="flex-shrink-0 me-3 w-25 p-2" alt="123">
                    <div>
                        <h5 class="mt-0 pt-5">Samantha Rodriguez</h5>
                        <h5>Event Management Consultant</h5>
                        <p class="p-2">"A game-changer for event management! The intuitive interface and powerful
                            features have streamlined my workflow, saving time and effort. Highly recommended for
                            seamless and efficient event planning"</p>
                    </div>
                </div>
                <div class="d-flex position-relative">
                    <img src="https://placehold.co/600x400/EEE/31343C" class="flex-shrink-0 me-3 w-25 p-2" alt="123">
                    <div>
                        <h5 class="mt-0 pt-5">Emily Thompson</h5>
                        <h5>Event Planning Specialist</h5>
                        <p class="p-2">"The ultimate event reservation solution! User-friendly interface, extensive
                            options, seamless process, and excellent customer support. Highly recommended for
                            stress-free event planning"</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- hero bottom (reviews) -->